<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Savor Pages</title>
</head>

<body>

    <header>
        <!--  dropdown menu -->
        <div class="navbar-fixed">
            <ul id="dropdown1" class="dropdown-content">
                <li><a class="black-text" href="{{ url_for('register') }}">Register</a></li>
                <li class="divider"></li>
                <li><a class="black-text" href="{{ url_for('login') }}">Login</a></li>
            </ul>
            <!-- Navbar -->
            <nav class="my-nav white">
                <div class="nav-wrapper">
                    <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo.webp') }}"
                            class="brand-logo logo-fork hide-on-med-and-down"></a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger menu"><i
                            class="fa-solid fa-ellipsis"></i></a>
                    <ul class="right hide-on-med-and-down black-text">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('recipes') }}">Recipies</a></li>
                        
                        {% if session.user %}
                        <li><a href="#">Add Recipe</a></li>
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>  
                            {% if session.user|lower == "admin"|lower %}
                                <li><a href="{{ url_for('categories') }}">Category</a></li>
                            {% endif %}
                        <li><a href="{{ url_for('logout') }}">Log out</a></li>
                        {% else %}
                        <li><a class="dropdown-trigger btn nav-btn yellow z-depth-5" href="#!"
                                data-target="dropdown1">Account <i class="fa-solid fa-caret-down fa-xs"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <!-- mobile navbar -->
        <ul class="sidenav" id="mobile-demo">
            <li><img src="{{ url_for('static', filename='images/logo.webp') }}" class="brand-logo logo-fork"></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('recipes') }}">Recipies</a></li>
            {% if session.user %}
            <li><a href="#">Add Recipe</a></li>
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                {% if session.user|lower == "admin"|lower %}
                    <li><a href="{{ url_for('categories') }}">Category</a></li>
                {% endif %}
            <li><a href="{{ url_for('logout') }}#">Log out</a></li>
            {% else %}
            <li>
                <ul class="collapsible collapsible-accordion my-collaps">
                    <li>
                        <a class="collapsible-header my-collaps text-shadow"><i
                                class="fa-solid fa-caret-down fa-xs"></i>
                            Account</a>
                        <div class="collapsible-body">
                            <ul id="" class="">
                                <li><a href="{{ url_for('register') }}">Register</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('login') }}">Login</a></li>
                            </ul>
                        </div>
                    </li>
            {% endif %}
                </ul>
            </li>
        </ul>
    </header>
    <section>
        <!--  flash message -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h5 class="blacl-text center-align">{{ message }}</h5>
                    </div>
                 {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer white my-footer">
        <div class="footer-copyright white black-text">
            <div class="container center-align">
                &copy; Savor Pages M.Majchrowicz 2023
            </div>
        </div>
    </footer>



    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/baba64def8.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>