<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Monika Majchrowicz">
    <meta name="description" content="Savor Pages is a recipe page for all food lovers, where they can share their own recipes">
    <meta name="keywords" content="Recipe, food, cooking, bakieng, meals ideas">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
    <!-- Materialize stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Savor Pages</title>
</head>

<body>

    <header>
        <!--  Dropdown menu -->
        <div class="navbar-fixed">
            <ul id="dropdown1" class="dropdown-content">
                <li><a class="black-text" href="{{ url_for('register') }}">Register</a></li>
                <li class="divider"></li>
                <li><a class="black-text" href="{{ url_for('login') }}">Login</a></li>
            </ul>
            <!-- Navbar -->
            <nav class="my-nav white">
                <div class="nav-wrapper">
                    <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo.webp') }}"
                            class="brand-logo logo-fork hide-on-med-and-down" alt="sausage with fork logo"></a>
                    <a href="{{ url_for('home') }}" data-target="mobile-demo" class="sidenav-trigger menu" aria-label="Toggle navigation"><i
                            class="fa-solid fa-ellipsis"></i></a>
                    <ul class="right hide-on-med-and-down black-text">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                        {% if session.user %}
                        <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>  
                            {% if session.user|lower == "admin"|lower %}
                                <li><a href="{{ url_for('categories') }}">Category</a></li>
                            {% endif %}
                        <li><a href="{{ url_for('logout') }}">Log out</a></li>
                        {% else %}
                        <li><a class="dropdown-trigger btn nav-btn yellow z-depth-5" href="#!"
                                data-target="dropdown1">Account <i class="fa-solid fa-caret-down fa-xs"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Mobile navbar -->
        <ul class="sidenav" id="mobile-demo">
            <li><img src="{{ url_for('static', filename='images/logo.webp') }}" class="brand-logo logo-fork" alt="sausage with fork logo"></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('recipes') }}">Recipies</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                {% if session.user|lower == "admin"|lower %}
                    <li><a href="{{ url_for('categories') }}">Category</a></li>
                {% endif %}
            <li><a href="{{ url_for('logout') }}#">Log out</a></li>
            {% else %}
            <li>
                <ul class="collapsible collapsible-accordion my-collaps">
                    <li>
                        <a class="collapsible-header my-collaps text-shadow"><i
                                class="fa-solid fa-caret-down fa-xs"></i>
                            Account</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="{{ url_for('register') }}">Register</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('login') }}">Login</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </header>
    <div>
        <!--  Flash message -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h5 class="black-text center-align">{{ message }}</h5>
                    </div>
                 {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- Footer -->
    <footer class="page-footer white my-footer">
        <div class="footer-copyright white black-text">
            <div class="container center-align">
                &copy; Savor Pages M.Majchrowicz <span id="current-year"></span>
            </div>
        </div>
    </footer>
<!-- Materialize jQuery  -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Base JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/baba64def8.js" crossorigin="anonymous"></script>
</body>

</html>