{% extends "base.html" %}
{% block content %}
<div class="container wrapper bg-dark radius">
    <h1 class="yellow-text yellow-darken-4 center-align rock-font">Categories</h1>
    <div class="row form">
        <div class="col s6 offset-s3 col m4 offset-m4">
            <a href="{{ url_for('add_category') }}"
                class="waves-effect waves-yellow black-text btn my-btn text-shadow">Add Category</a>
            <i class="fa-solid fa-plus"></i>
        </div>
    </div>
</div>
{% endblock %}ś