{% extends "base.html" %}
{% block content %}
<div class="container wrapper bg-dark radius">
    <h3 class="yellow-text yellow-darken-4 center-align rock-font">Categories</h3>
    <div class="row form">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_category') }}"
                class="waves-effect waves-yellow black-text btn my-btn text-shadow">Add
                Category <i class="fa-solid fa-plus"></i></a>
        </div>
    </div>
    <div class="row">
        {% for category in categories %}
        <div class="col s12 m6 l3">
            <div class="card-panel grey lighten-3 radius center-align">
                <div class="card-content black-text">
                    <h5 class="card-title">{{ category.category_name }}</h5>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('edit_category', category_id=category.id) }}" class="waves-effect waves-green black-text btn edit-btn text-shadow">Edit</a>
                    <a href="#" class="waves-effect waves-red black-text btn delete-btn text-shadow">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}