{% extends "base.html" %}
{% block content %}
<div class="container wrapper bg-dark radius">
    <h3 class="yellow-text yellow-darken-4 center-align rock-font">Edit Recipe</h3>
    <div class="row row-pad">
        <div class="col s12 m8 offset-m2 card-panel grey lighten-3 radius">
            <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe.id) }}">
                <!-- Select category -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-pencil prefix"></i>
                        <select name="category_id" id="category_id" class="validate">
                            <option value="" class="disabled selected black-text">Select category</option>
                            {% for category in categories %}
                            {% if category.id == recipe.category_id | int %}
                            <option value="{{ category.id }}" class="black-text" selected>{{ category.category_name }}
                            </option>
                            {% else %}
                            <option value="{{ category.id }}">{{ category.category_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- Recipe name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-pencil prefix"></i>
                        <input id="recipe_name" name="recipe_name" value="{{ recipe.recipe_name }}" minlength="3"
                            maxlength="30" type="text" class="validate" required>
                        <label for="recipe_name" class="black-text">Recipe Name</label>
                    </div>
                </div>
                <!-- Recipe description -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-align-left prefix"></i>
                        <textarea id="recipe_description" name="recipe_description" class="materialize-textarea"
                            required>{{ recipe.recipe_description }}</textarea>
                        <label for="recipe_description" class="black-text">Description</label>
                    </div>
                </div>
                <!-- Ingredients -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-apple-whole prefix"></i>
                        <textarea id="ingredients" name="ingredients" class="materialize-textarea" required>
                            {{- recipe.ingredients -}}</textarea>
                        <label for="ingredients" class="black-text">Ingredients</label>
                    </div>
                </div>
                <!-- Preparation -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-book-open prefix"></i>
                        <textarea id="preparation" name="preparation" class="materialize-textarea" required>
                            {{- recipe.preparation -}}</textarea>
                        <label for="preparation" class="black-text">Preparation</label>
                    </div>
                </div>
                <!-- Cook time -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-clock prefix"></i>
                        <input id="cook_time" name="cook_time" type="number" value="{{ recipe.cook_time }}"
                            class="validate" required>
                        <label for="cook_time" class="black-text">Cook Time (in minutes)</label>
                    </div>
                </div>
                <!-- Submit button -->
                <div class="row form">
                    <button type="submit"
                        class="col s6 offset-s3 col m4 offset-m4 waves-effect waves-yellow black-text btn my-btn text-shadow">Edit
                        Recipe
                        <i class="fa-solid fa-pen-to-square right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}