{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 hero valign-wrapper">
        <div class="col s12 card hero-card z-depth-5">
            <h4 class="yellow-text hero-text">Savor Pages</h4>
            <h5 class="white-text text-darken-4">This is the perfect place where you can add your favorite
                recipes and share them with others!</h5>
            <div class="row valign-wrapper">
                <div class="col s12 col l4">
                    <a class="waves-effect waves-yellow btn hero-btn">Find a Recipe</a>
                </div>
                <div class="col s12 col l4">
                    <div class="fixed-action-btn action-btn">
                        <a class="btn-floating btn-large yellow lighten-1">
                            <i class="fa-regular fa-address-card" style="color: #000000;"></i>
                        </a>
                        <ul>
                            <li><a class="btn-floating yellow darken-1"><i class="fa-solid fa-user"></i></a></li>
                            <li><a class="btn-floating red"><i class="fa-solid fa-user-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}