{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 hero valign-wrapper">
        <div class="col s12 card hero-card z-depth-5">
            <h4 class="yellow-text rock-font">Savor Pages</h4>
            <h5 class="white-text text-darken-4">This is the perfect place where you can add your favorite
                recipes and share them with others!</h5>
                <h6 class="white-text text-darken-4">Click below to search through recipies or register/login to your account</h6>    
            <div class="row valign-wrapper">
                <div class="col s12 m4 l2">
                    <a href="#" class="btn waves-effect waves-yellow my-btn text-shadow">Find a Recipe</a>
                </div>
                <div class="col s12">
                    <div class="fixed-action-btn action-btn text-shadow">
                        <a class="btn-floating btn-large yellow lighten-1">
                            <i class="fa-regular fa-address-card" style="color: #000000;"></i>
                        </a>
                        <ul>
                            <li><a href="#" class="btn-floating green"><i class="fa-solid fa-user"></i></a></li>
                            <li><a href="#" class="btn-floating red"><i class="fa-solid fa-user-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}