{% extends "base.html" %}
{% block content %}
<div class="container wrapper bg-dark radius">
    <h3 class="yellow-text yellow-darken-4 center-align rock-font">Log In</h3>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel grey lighten-3 radius">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user prefix black-text"></i>
                        <input id="username" name="username" type="text" class="validate">
                        <label for="username"> Userame</label>
                    </div>
                </div>
                <!--  Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-lock-open prefix black-text"></i>
                        <input id="password" name="password" type="password" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!--  Login button -->
                <div class="row form">
                    <button type="submit"
                        class="col s6 offset-s3 col m4 offset-m4 waves-effect waves-yellow black-text btn my-btn text-shadow">LogIn
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            First time?
            <a href="{{ url_for('register') }}" class="black-text text-darken-4 underline">Register Account</a>
        </p>
    </div>
</div>


{% endblock %}