{% extends "base.html" %}
{% block content %}

<div class="container wrapper bg-dark radius">
    <!-- User's dashboard -->
    <div class="row">
        <div class="col s12 l8 offset-l2">
            <h3 class="center-align yellow-text yellow-darken-4 rock-font text-shadow">
                {{ username }}'s Profile Page
            </h3>
            <h6 class="black-text"> Hello {{ username }}. On the user dashboard you will find all information you may
                need to move around the page. Looked through recipes, add, edit or delete your own recipes. Have fun!
            </h6>
            <div>
                <h5 class="center-align yellow-text yellow-darken-4 rock-font text-shadow">As a member of Savor Pages
                    cookbook, you will
                    be able to:</h5>
                <ol class="black-text">
                    <li>Add your recipes</li>
                    <li>Edit and update your recipe</li>
                    <li>Delete any recipe you posted. Please be warned that this action cannot be undone and once
                        deleted,
                        we will not be able to retrieve a record of the deleted recipe.</li>
                    <li>Access and choose from the list of categories when uploading your recipe</li>
                    <li>Edit which category to add with your own recipe. But you will not be able to delete any
                        category.
                        This action is only available to our admin users.</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Display user's recipes -->
    <div>
        <h4 class="center-align yellow-text yellow-darken-4 rock-font text-shadow">Your recipes</h4>
    </div>
    <div class="col s12 center-align">
        <a href="{{ url_for('add_recipe') }}" class="waves-effect waves-yellow black-text btn my-btn text-shadow">Add
            Recipe <i class="fa-solid fa-plus"></i></a>
    </div>
    {% if recipe_list %}
    <div class="row">
        {% for recipe in recipe_list %}
        <div class="col s12 col m6">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
                </div>
                <div class="card-content">
                    <h4 class="card-title activator grey-text text-darken-4">{{ recipe.recipe_name }} <i
                            class="fa-solid fa-ellipsis right"></i></h4>
                </div>
                <div class="card-reveal">
                    <h4 class="card-title grey-text text-darken-4">{{ recipe.recipe_name }}
                        <i class="fa-solid fa-xmark right"></i></h4>
                    {% for category in categories %}
                    {% if category.id == recipe.category_id |int %}
                    <p>{{ category.category_name }}</p>
                    {% endif %}
                    {% endfor %}
                    <h6>Posted by: {{ recipe.created_by }}</h6>
                    <h5>Description</h5>
                    <p>{{ recipe.recipe_description }}</p>
                    <h5>Ingredients</h5>
                    <p>{{ recipe.ingredients }}</p>
                    <h5>Preparation</h5>
                    <p>{{ recipe.preparation }}</p>
                    <h5>Cooking time</h5>
                    <p>{{ recipe.cook_time }} mins</p>
                    <div class="card-action">
                        {% if session.user|lower == recipe.created_by|lower or session.user|lower == 'admin' %}
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}"
                            class="waves-effect waves-green black-text btn edit-btn text-shadow">Edit</a>
                        <a class="waves-effect waves-red black-text btn delete-btn text-shadow modal-trigger"
                            href="#modal-{{ recipe.id }}">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Structure -->
        <div id="modal-{{ recipe.id }}" class="modal wrapper" aria-hidden="true">
            <div class="modal-content center-align grey lighten-1">
                <h4 class="yellow-text yellow-darken-4 rock-font">Delete Recipe</h4>
                <p>Are you sure you want to delete this recipe?</p>
                <small>This action cannot be undone</small>
            </div>
            <div class="modal-footer grey lighten-1">
                <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}"
                    class="waves-effect waves-red black-text btn delete-btn text-shadow">Delete</a>
                <a href="{{ url_for('profile', username=session['user']) }}"
                    class="waves-effect waves-green black-text btn edit-btn text-shadow">No!</a>
            </div>
        </div>
        {% endfor%}
    </div>
    {% endif %}
</div>

{% endblock %}