{% extends "base.html" %}
{% block content %}

<div class="container wrapper bg-dark radius">
    <h3 class="yellow-text yellow-darken-4 center-align rock-font">Register</h3>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel grey lighten-3 radius">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix black-text"></i>
                        <input id="username" name="username" type="text" pattern="^[a-zA-Z0-9]{5,15}$" class="validate">
                        <label for="username"> Userame</label>
                        <small>Username must be between 5 and 15 characters long (letters and numbers)</small>
                    </div>
                </div>
                <!--  Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-lock-open prefix black-text"></i>
                        <input id="password" name="password" type="password" minlength="7" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                        <small>Password must be between 7 and 15 characters long (letters and numbers)</small>
                    </div>
                </div>
                <!--  Register button -->
                <div class="row form">
                    <button type="submit"
                        class="col s6 offset-s3 col m4 offset-m4 waves-effect black-text waves-yellow btn my-btn text-shadow">Register
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already a member?
            <a href="{{ url_for('login') }}" class="black-text text-darken-4 underline">Login to your account</a>
        </p>
    </div>
</div>

{% endblock %}